.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1.98%;
    margin-top: 0%;
    text-align: center
    }
.calibre3 {
    font-size: 2em;
    font-style: normal;
    font-variant: small-caps;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.41667em;
    font-style: italic;
    font-variant: small-caps;
    letter-spacing: 0.045rem;
    line-height: 1.2
    }
.calibre5 {
    font-size: 1em;
    font-weight: bold
    }
.calibre6 {
    font-size: 1em
    }
.calibre7 {
    line-height: 1.2
    }
.calibre8 {
    color: #00f;
    font-size: 1em;
    text-decoration: underline
    }
.calibre9 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1.98%;
    margin-top: 0%
    }
.calibre10 {
    display: block;
    line-height: 1.2
    }
.calibre11 {
    clear: both;
    display: block;
    line-height: 1.2
    }
.calibre12 {
    display: block;
    font-size: 1.83333em;
    font-weight: normal;
    line-height: 113%;
    margin: 1.98% 0% 0%
    }
.calibre13 {
    font-size: 0.77273em;
    font-variant: small-caps
    }
.calibre14 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0.99%;
    margin-top: 0%
    }
.calibre15 {
    font-size: 1em;
    font-style: italic
    }
.calibre16 {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 115%;
    margin: 4.76% 0% 0%
    }
.calibre17 {
    font-size: 1em;
    font-variant: small-caps;
    letter-spacing: 0.023rem
    }
.calibre18 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1.98%;
    margin-top: 0%;
    text-align: justify
    }
.calibre19 {
    display: block
    }
.calibre20 {
    display: block;
    font-size: 1em;
    line-height: 115%;
    margin-bottom: 1.98%;
    margin-top: 0%
    }
.calibre21 {
    height: 216px;
    line-height: 1.2;
    width: 194px
    }
.calibre22 {
    height: 210px;
    line-height: 1.2;
    width: 280px
    }
.calibre23 {
    font-size: 1.125em;
    font-weight: bold
    }
.calibre24 {
    font-size: 1.125em
    }
.calibre25 {
    height: 292px;
    line-height: 1.2;
    width: 390px
    }
.calibre26 {
    height: 288px;
    line-height: 1.2;
    width: 384px
    }
.calibre27 {
    height: 151px;
    line-height: 1.2;
    width: 251px
    }
.calibre28 {
    height: 188px;
    line-height: 1.2;
    width: 296px
    }
.calibre29 {
    height: 188px;
    line-height: 1.2;
    width: 126px
    }
.calibre30 {
    height: 188px;
    line-height: 1.2;
    width: 150px
    }
.calibre31 {
    height: 158px;
    line-height: 1.2;
    width: 154px
    }
.calibre32 {
    height: 220px;
    line-height: 1.2;
    width: 175px
    }
.calibre33 {
    height: 266px;
    line-height: 1.2;
    width: 182px
    }
.calibre34 {
    height: 188px;
    line-height: 1.2;
    width: 136px
    }
.calibre35 {
    height: 115px;
    line-height: 1.2;
    width: 176px
    }
.calibre36 {
    height: 174px;
    line-height: 1.2;
    width: 178px
    }
.calibre37 {
    height: 199px;
    line-height: 1.2;
    width: 384px
    }
.calibre38 {
    height: 144px;
    line-height: 1.2;
    width: 384px
    }
.calibre39 {
    height: 133px;
    line-height: 1.2;
    width: 306px
    }
.calibre40 {
    height: 180px;
    line-height: 1.2;
    width: 147px
    }
.calibre41 {
    height: 132px;
    line-height: 1.2;
    width: 139px
    }
.calibre42 {
    font-size: 0.75em
    }
.calibre43 {
    height: 277px;
    line-height: 1.2;
    width: 185px
    }
