@font-face {
	font-family:"Adobe Garamond Pro Bold";
	font-style:normal;
	font-weight:bold;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Adobe Garamond Pro Bold";
	font-style:italic;
	font-weight:bold;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Adobe Garamond Pro Bold";
	font-style:oblique;
	font-weight:bold;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Adobe Garamond Pro";
	font-style:italic;
	font-weight:normal;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Adobe Garamond Pro";
	font-style:oblique;
	font-weight:normal;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Adobe Garamond Pro";
	font-style:normal;
	font-weight:normal;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Courier New";
	font-style:normal;
	font-weight:normal;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"DINPro-Black";
	font-style:normal;
	font-weight:900;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"DINPro-Bold";
	font-style:normal;
	font-weight:bold;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"DINPro-Regular";
	font-style:normal;
	font-weight:normal;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Gill Sans MT";
	font-style:normal;
	font-weight:normal;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Gill Sans MT";
	font-style:italic;
	font-weight:normal;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Gill Sans MT";
	font-style:oblique;
	font-weight:normal;
	src : url(XXXXXXXXXXXXXXXX);
}
@font-face {
	font-family:"Open Sans Extrabold";
	font-style:normal;
	font-weight:800;
	src : url(XXXXXXXXXXXXXXXX);
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
a._idGenColorInherit {
	color:inherit;
}
img.Object-Style-1 {
	border-style:solid;
}
div.Basic-Text-Frame, img.Basic-Text-Frame {
	border-style:solid;
}
table.Basic-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Basic-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
tr.Basic-Table {
	page-break-after:auto;
	page-break-before:auto;
}
h2.chapter-title {
	
	font-family:"DINPro-Regular", sans-serif;
	font-size:1.583em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2.632;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chapter-Subheader {
	
	font-family:"DINPro-Regular", sans-serif;
	font-size:2.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.515;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Email-Text {
	
	font-family:"Courier New", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:16px;
	text-transform:none;
	widows:1;
}
p.Footnote-text {
	
	font-family:"Gill Sans MT", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.556;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Header-Intro {
	
	font-family:"DINPro-Regular", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-paragraph {
	
	
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.331;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:16px;
	text-transform:none;
	widows:1;
}
p.Main-Text-First-Chapter {
	
	
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.331;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	
	
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h1.part-title {
	
	font-family:"DINPro-Black", sans-serif;
	font-size:5.25em;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Part-Subheader {
	
	font-family:"DINPro-Regular", sans-serif;
	font-size:2.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Quote {
	
	
	font-size:1em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h3.Header-01 {
	
	font-family:"DINPro-Regular", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:underline;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
h4.Header-02 {
	
	font-family:"DINPro-Bold", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
h5.Header-03 {
	
	font-family:"DINPro-Bold", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.331;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Table-Header {
	
	font-family:"DINPro-Bold", sans-serif;
	font-size:1.125em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Table-Text {
	
	
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Footnotes-1 {
	font-size:0.75em;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
td.CellOverride-1 {
	background-color:#ededed;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-2 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	text-align:center;
}
p.ParaOverride-3 {
	text-indent:0px;
}
p.ParaOverride-4, h4.ParaOverride-4, h5.ParaOverride-4 {
	text-align:center;
}
p.ParaOverride-5 {
	text-align:justify;
	text-indent:16px;
}
p.ParaOverride-6 {
	margin-left:16px;
	text-indent:0px;
}
p.ParaOverride-7 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-left:18px;
	text-indent:0px;
}
p.ParaOverride-9 {
	text-align:left;
}
p.ParaOverride-10 {
	margin-left:9px;
	text-indent:0px;
}
p.ParaOverride-11 {
	text-align:left;
	text-indent:0px;
}
span.CharOverride-1 {
	font-family:"Adobe Garamond Pro";
	font-size:0.833em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"DINPro-Regular";
	font-size:1.167em;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.CharOverride-4 {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:"Adobe Garamond Pro";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-7 {
	font-size:0.928em;
}
span.CharOverride-8 {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:0.833em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	font-family:"Adobe Garamond Pro";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Adobe Garamond Pro Bold";
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	font-size:0.437em;
	vertical-align:super;
}
span.CharOverride-12 {
	font-family:"Gill Sans MT";
	font-size:1em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	font-family:"Gill Sans MT";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-14 {
	font-variant:small-caps;
	text-transform:none;
}
span.CharOverride-15 {
	text-decoration:underline;
}
span.CharOverride-16 {
	font-size:1.125em;
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-17 {
	font-family:"Open Sans Extrabold", sans-serif;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-18 {
	font-family:"Adobe Garamond Pro Bold";
	font-style:italic;
	font-weight:bold;
}
span._idGenCharOverride-1 {
	font-size:1em;
}
tr._idGenTableRowColumn-1 {
	
}
tr._idGenTableRowColumn-2 {
	background-color:#ededed;
}
#_idContainer017 {
	display:inline-block;
	height:32px;
	position:relative;
	width:30px;
}
img._idGenObjectAttribute-1 {
	width:100%;
}
img._idGenObjectAttribute-2 {
	height:357px;
	width:315px;
}
img._idGenObjectAttribute-3 {
	height:324px;
	width:315px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
