.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre3 {
    font-size: 1em
    }
.calibre4 {
    font-size: 2em;
    line-height: 1.2
    }
.calibre5 {
    display: block
    }
.calibre6 {
    clear: both;
    display: block
    }
.calibre7 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 1.72%;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.calibre8 {
    color: #365f91;
    font-size: 1em;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    margin-bottom: 0.72%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre10 {
    color: #00f;
    font-size: 1em;
    text-decoration: underline
    }
.calibre11 {
    color: #00f;
    font-size: 1em
    }
.calibre12 {
    color: #00f;
    font-size: 1em;
    font-style: italic;
    text-decoration: underline
    }
.calibre13 {
    display: block;
    margin-bottom: 0.72%;
    margin-left: 2.89%;
    margin-top: 0%
    }
.calibre14 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 3.44% 0% 0%
    }
.calibre15 {
    line-height: 1.2
    }
.calibre16 {
    color: #345a8a;
    font-size: 0.70833em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre17 {
    font-size: 1em;
    font-style: italic
    }
.calibre18 {
    font-size: 1em;
    font-weight: bold
    }
.calibre19 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 0%
    }
.calibre20 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 0%
    }
.calibre21 {
    font-size: 0.5em;
    font-weight: normal
    }
.calibre22 {
    font-size: 0.58333em;
    vertical-align: super
    }
.calibre23 {
    display: block;
    margin-bottom: 0%;
    margin-left: 8.67%;
    margin-top: 0%;
    text-indent: 0
    }
.calibre24 {
    font-family: "Times New Roman";
    font-size: 0.58333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal
    }
.calibre25 {
    display: block;
    margin-bottom: 0%;
    margin-left: 8.67%;
    margin-top: 0%
    }
.calibre26 {
    display: block;
    line-height: 1.2
    }
.calibre27 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre28 {
    display: list-item;
    font-size: 1em;
    padding-left: 6.11pt;
    text-indent: 0;
    margin: 0% 0% 0% 2.87%
    }
.calibre29 {
    display: block;
    margin-bottom: 0%;
    margin-left: 4.34%;
    margin-top: 0%
    }
.calibre30 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.64pt;
    text-indent: 0;
    margin: 0% 0% 0% 3.22%
    }
.calibre31 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.74pt;
    text-indent: 0;
    margin: 0% 0% 0% 3.2%
    }
.calibre32 {
    display: list-item;
    font-size: 1em;
    padding-left: 6.11pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.2%
    }
.calibre33 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.64pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.56%
    }
.calibre34 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.74pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.53%
    }
.calibre35 {
    display: block;
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 0%
    }
.calibre36 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.29pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.64%
    }
.calibre37 {
    font-size: 1em;
    font-weight: normal
    }
.calibre38 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal
    }
.calibre39 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 1.43% 0% 0%
    }
.calibre40 {
    color: #4f81bd;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre41 {
    color: #4f81bd;
    font-size: 0.79412em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre42 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 0%
    }
.calibre43 {
    color: #4f81bd;
    font-size: 0.5625em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre44 {
    color: #4f81bd;
    font-size: 0.5625em;
    line-height: 1.2
    }
.calibre45 {
    display: block;
    list-style-type: upper-alpha;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre46 {
    display: list-item;
    font-size: 1em;
    padding-left: 3.75pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.77%
    }
.calibre47 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.07pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.69%
    }
.calibre48 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.35pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.63%
    }
.calibre49 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.09pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.69%
    }
.calibre50 {
    display: list-item;
    font-size: 1em;
    padding-left: 4.28pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.64%
    }
.calibre51 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 0%
    }
.calibre52 {
    color: #345a8a;
    font-size: 0.70833em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre53 {
    display: list-item;
    font-size: 1em;
    font-style: normal;
    padding-left: 6.11pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.2%
    }
.calibre54 {
    display: list-item;
    font-size: 1em;
    font-style: normal;
    padding-left: 4.64pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.56%
    }
.calibre55 {
    display: list-item;
    font-size: 1em;
    font-style: normal;
    padding-left: 4.74pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.53%
    }
.calibre56 {
    display: list-item;
    font-size: 1em;
    font-style: normal;
    padding-left: 4.29pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.64%
    }
.calibre57 {
    display: list-item;
    font-size: 1em;
    font-style: normal;
    padding-left: 4.66pt;
    text-indent: 0;
    margin: 0% 0% 0% 7.55%
    }
.calibre58 {
    display: block;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre59 {
    color: #345a8a;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre60 {
    background-color: #ff0;
    font-size: 1em;
    font-weight: bold
    }
.calibre61 {
    background-color: #ff0;
    font-size: 1em
    }
.calibre62 {
    background-color: #ff0;
    color: #00f;
    font-size: 1em;
    text-decoration: underline
    }
.calibre63 {
    -aw-footnote-numberstyle: 0;
    -aw-footnote-startnumber: 1;
    -aw-footnote-type: 0;
    color: gray;
    display: block;
    height: 1px;
    text-align: left;
    width: 33%;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre64 {
    -aw-footnote-isauto: 1;
    display: block
    }
