hr.transition {
	display: block;
	border: none;
	margin: 0;
}
div.height_100 {
	text-align: center;
	height: 100%;
	height: 98vh;
	max-height: 100%;
	max-width: 100%;
	clear: both;
}
img.fill_height {
	height: 100%;
}
div.width_100 {
	text-align: center;
	width: 100%;
	max-height: 100%;
	clear: both;
	margin: 1em 0;
}
img.fill {
	width: 100%;
}
img.height_1em {
	height: 1em;
	vertical-align: middle;
}
img.height_2em {
	height: 2em;
	vertical-align: middle;
}
/* ===================== END DEFAULTS ==================*/
div.width_80 {
	text-align: center;
	max-height: 100%;
	margin: 1em 10%;
	clear: both;
}
p.x01-FM-Bio-Imprint {
	font-family: sans-serif; /*Amica Pro XBd*/
	font-size: 0.79em;
	font-weight: bold;
	margin: 5% 0 0 0;
	text-align: center;
	text-indent: 0;
}
p.x01-FM-Bio-Text-FL {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.95em;
	margin: 1em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
h1.x01-FM-Bio-Title {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1.16em;
	font-weight: bold;
	margin: 0.45em 0 0 0;
	text-align: center;
	text-indent: 0;
}
p.x01-FM-Contents-BM-Head {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.74em;
	font-weight: bold;
	margin: 0.71em 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Contents-BM-Head-First {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.74em;
	font-weight: bold;
	margin: 2.29em 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Contents-CT {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.74em;
	font-weight: bold;
	margin: 0.71em 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Contents-CT-First {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.74em;
	font-weight: bold;
	margin: 2.14em 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Contents-FM-Head {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.74em;
	font-weight: bold;
	margin: 0.71em 0 0 0;
	text-align: left;
	text-indent: 0;
}
/*May want to look at the style below*/
p.x01-FM-Contents-FM-Head-First {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.74em;
	font-weight: bold;
	margin: 15% 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Copyright-Imprint {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.74em;
	margin: 0 1em;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Copyright-Text {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.74em;
	margin: 0 1em;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Copyright-Text-CIP {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.74em;
	margin: 0 0 0 1.86em;
	text-align: left;
	text-indent: -0.86em;
}
p.x01-FM-Copyright-Text-Space {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.74em;
	margin: 0.71em 1em 0 1em;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Dedi-Body {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	font-style: italic;
	margin: 15% 10% 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Front-Sales-Quote {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 1.47em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x01-FM-Front-Sales-Source {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 1.47em 0 0 0;
	text-align: right;
	text-indent: 0;
}
h1.x01-FM-Front-Sales-Title {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1.05em;
	font-weight: bold;
	margin: 5% 0 0 0;
	text-align: center;
	text-indent: 0;
}
h1.x01-FM-Head {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1.68em;
	font-weight: bold;
	margin: 15% 0 0 0;
	text-align: left;
	text-indent: 0;
	border-bottom: 3px solid #757575;
	display: inline-block;
	padding: 0 0 .5em 0;
}
p.x03-CO-Body-Text {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 10% 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x03-CO-Body-Text::first-line {
font-weight: bold;
	font-family: sans-serif; /*Amica Pro Reg*/
}
h1.x03-Chapter-Number {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1.47em;
	margin: 15% 0 0 0;
	text-align: left;
	text-indent: 0;
}
h1.x03-Chapter-Title {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1.89em;
	font-weight: bold;
	margin: 0.5em 0 10% 0;
	text-align: left;
	text-indent: 0;
	border-top: 3px solid #757575;
	padding: .5em 0 0 0;
	display: inline-block;
}
p.x04-Body-Text {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 1.47em;
}
p.x04-Body-Text-FL {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x04-Space-Break {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 5% 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x04-Space-Break-1 {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 1.47em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x04-Space-Break-FL {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 1.47em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
div.x04-Space-Break-Orn {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 1.26em 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
}
h2.x05-Head-A {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1.16em;
	font-weight: bold;
	margin: 1.91em 0 0.64em 0;
	page-break-after: avoid;
	text-align: left;
	text-indent: 0;
}
li.x07-List-Bulleted {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.97em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Bulleted {
	font-size: 1em;
	margin: 0;
}
li.x07-List-Bulleted-First {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.97em;
	margin: 1.51em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Bulleted-First {
	font-size: 1em;
	margin: 0;
}
li.x07-List-Bulleted-Last {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.97em;
	margin: 0 0 1.51em 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Bulleted-Last {
	font-size: 1em;
	margin: 0;
}
li.x07-List-Checklist {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Checklist {
	font-size: 1em;
	margin: 0;
}
li.x07-List-Checklist-First {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 0.73em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Checklist-First {
	font-size: 1em;
	margin: 0;
}
li.x07-List-Checklist-Last {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Checklist-Last {
	font-size: 1em;
	margin: 0;
}
p.x07-List-Numbered {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.95em;
	margin: 0 0 0 2em;
	text-align: justify;
	text-indent: -1em;
}
p.x07-List-Numbered-First {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.95em;
	margin: 1.56em 0 0 2em;
	text-align: justify;
	text-indent: -1em;
}
h2.x07-List-Numbered-Head {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1em;
	font-weight: bold;
	margin: 2.21em 0 0.74em 1.47em;
	text-align: left;
	text-indent: -1.37em;
}
p.x07-List-Numbered-Last {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.95em;
	margin: 0 0 1.56em 2em;
	text-align: justify;
	text-indent: -1em;
}
p.x07-List-Numbered-Para {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.95em;
	margin: 0.78em 0 0 2.67em;
	text-align: justify;
	text-indent: -1.40em;
}
p.x07-List-Numbered-Para-First {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.95em;
	margin: 1.56em 0 0 2.67em;
	text-align: justify;
	text-indent: -1.4em;
}
p.x07-List-Numbered-Para-Last {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.95em;
	margin: 0.78em 0 1.56em 2.67em;
	text-align: justify;
	text-indent: -1.44em;
}
p.x07-List-Numbered-Subpara {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.97em;
	margin: 0 0 0 1.51em;
	text-align: justify;
	text-indent: 1.08em;
}
p.x07-List-Numbered-Subpara-FL {
	font-family: serif; /*Mercury Text G1*/
	font-size: 0.97em;
	margin: 0 0 0 1.51em;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Unnumbered {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 0.73em 0 0 1.57em;
	text-align: justify;
	text-indent: 0;
}
h2.x07-List-Unnumbered-Head {
	font-family: sans-serif; /*Amica Pro Med*/
	font-size: 0.95em;
	font-style: italic;
	font-weight: bold;
	margin: 1.11em 0 0.33em 0;
	text-align: left;
	text-indent: 0;
}
p.x07-List-Unnumbered-Para {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.89em;
	margin: 0.71em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Unnumbered-Para-1P {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.89em;
	margin: 1.29em 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Unnumbered-Para-First {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.89em;
	margin: 0.71em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Unnumbered-Para-Last {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.89em;
	margin: 0.71em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-Head-A {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1em;
	font-weight: bold;
	margin: 1.05em 0 0.32em 0;
	text-align: left;
	text-indent: 0;
}
p.x10-Sidebar-Box-Head-B {
	font-family: sans-serif; /*Amica Pro Med*/
	font-size: 0.95em;
	font-style: italic;
	font-weight: bold;
	margin: 1.11em 0 0.33em 0;
	text-align: left;
	text-indent: 0;
}
p.x10-Sidebar-Box-Head-B-No-Space {
	font-family: sans-serif; /*Amica Pro Med*/
	font-size: 0.95em;
	font-style: italic;
	font-weight: bold;
	margin: 0.33em 0;
	text-align: left;
	text-indent: 0;
}
li.x10-Sidebar-Box-List-Bulleted {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-List-Bulleted {
	font-size: 1em;
	margin: 0;
}
li.x10-Sidebar-Box-List-Bulleted-First {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 0.73em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-List-Bulleted-First {
	font-size: 1em;
	margin: 0;
}
li.x10-Sidebar-Box-List-Bulleted-Last {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 0 0 0.73em 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-List-Bulleted-Last {
	font-size: 1em;
	margin: 0;
}
li.x10-Sidebar-Box-List-Bulleted-Para {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: .87em;
	margin: 0.36em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-List-Bulleted-Para {
	font-size: 1em;
	margin: 0;
}
li.x10-Sidebar-Box-List-Bulleted-Para-First {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: .87em;
	margin: 0.73em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-List-Bulleted-Para-First {
	font-size: 1em;
	margin: 0;
}
p.x10-Sidebar-Box-NL-1P {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 1.33em 0 1.33em 2em;
	text-align: justify;
	text-indent: -1.75em;
}
p.x10-Sidebar-Box-NL-First {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.87em;
	margin: 1.33em 0 0 2em;
	text-align: justify;
	text-indent: -1.75em;
}
p.x10-Sidebar-Box-Text {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.89em;
	margin: 0;
	text-align: justify;
	text-indent: 1.29em;
}
p.x10-Sidebar-Box-Text-FL {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.89em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-Text-FL_aboave-6-pts {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1em;
	margin: 0.71em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-Text-UNL-Para {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.89em;
	margin: 0;
	text-align: left;
	text-indent: 0;
}
p.x10-Sidebar-Box-Title {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1.37em;
	font-weight: bold;
	margin: 0 0 0.38em 0;
	text-align: left;
	text-indent: 0;
}
p.x10-Sidebar-Box-Title-2 {
	font-family: sans-serif; /*Amica Pro Med*/
	font-size: 0.89em;
	font-weight: bold;
	margin: 0 0 0.82em 0;
	text-align: left;
	text-indent: 0;
	border-bottom: thin solid;
	display: inline-block;
	padding: 0 0 .5em 0;
}
p.x13-BM-Ack {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 1.47em;
}
p.x13-BM-Ack-First {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 15% 0 0 0;
	text-align: justify;
	text-indent: 0;
}
h2.x13-BM-Endnotes-Head-A {
	font-family: sans-serif; /*Amica Pro XBd*/
	font-size: 0.84em;
	font-weight: bold;
	margin: 2.12em 0 0.75em 0;
	text-align: left;
	text-indent: 0;
}
/*May want to look at the style below*/
p.x13-BM-Endnotes-Head-A-First {
	font-family: sans-serif; /*Amica Pro XBd*/
	font-size: 0.84em;
	font-weight: bold;
	margin: 7.37em 0 0.75em 0;
	text-align: left;
	text-indent: 0;
}
h1.x13-BM-Head {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1.68em;
	font-weight: bold;
	margin: 15% 0 0 0;
	text-align: left;
	text-indent: 0;
	border-bottom: 3px solid #757575;
	display: inline-block;
	padding: 0 0 .5em 0;
}
p.x15-BE-CO-Body-Text {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 15% 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.line {
	font-family: serif; /*Mercury Text G1*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
	border-bottom: thin solid;
}
span._1-FM-Contents-CN-Run-In {
	font-family: serif; /*Mercury Text G1*/
	font-weight: normal;
}
i._1-FM-Front-Sales-Title-ITAL {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-style: italic;
	font-weight: bold;
}
i._3-CO-Body-Text-ITAL {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-style: italic;
	font-weight: bold;
}
i._5-Head-A-ITAL {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-style: italic;
	font-weight: bold;
}
i._7-List-Unnumbered-BOLD-ITAL-Run-In {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.84em;
	font-style: italic;
	font-weight: bold;
}
b.BOLD_Bio {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: .9em;
	font-weight: bold;
}
i.BOLD_ITAL {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 0.92em;
	font-style: italic;
	font-weight: bold;
}
b.Box_BOLD {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1em;
	font-weight: bold;
}
i.Box_BOLD_ITAL {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}
i.Box_ITAL {
	font-family: sans-serif; /*Amica Pro Reg*/
	font-style: italic;
}
span.SCAP {
	font-variant: small-caps;
	text-transform: lowercase;
}
span.sym {
	font-family: sans-serif; /*Carta Std*/
	font-weight: bold;
}
p.x04-Body-Text-FL::first-letter {
	line-height: 0;
	padding-right: 2px;
	font-size: 1.05em;
	text-transform: none;
	font-variant: normal;
}
p.x04-Space-Break-FL::first-letter {
	line-height: 0;
	padding-right: 2px;
	font-size: 1.05em;
	text-transform: none;
	font-variant: normal;
}
p.link_to_text {
	font-family: serif;
	font-size: 0.7em;
	margin: 1em 0 1.5em 0;
	text-align: justify;
}
li.x13-BM-Endnotes {
	font-family: serif;
	font-size: 0.84em;
	margin: 0;
	text-align: justify;
}
.Endnote-Reference {
	vertical-align: 0.25em;
	font-size: 0.8em;
	line-height: 0;
}
p.x13-BM-Endnotes {
	font-family: serif;
	font-size: 1em;
	margin: 0 0 0 0;
	text-align: left;
}