/*
---------------------------------------------------------
HMH standard CSS
Last modified: 23 June 2020
Packaged with eBookimator v1.3.4
Created by: HMH
---------------------------------------------------------
*/

/*

EXAMPLE FONT DECLARATION

@font-face {
font-family: "FONT";
font-weight:normal;
font-style:normal;
src:url(../font/FONT.otf);
}

*/

/* Reset */

body {
  /*font-family: Athelas, Iowan, Georgia, Palatino, serif; */
  text-rendering: optimizeSpeed; /* fixes Apple nonsense character issue, but may prevent ligatures */
}


/* page margins for nook and kobo */
@page {
  font-family: "GaramondThreeLTStd", Garamond, Palatino, serif;
  margin:30px 20px 0 20px;
}

/* Header Styles */

h1, h2, h3, h4, h5, h6 {
  page-break-after:avoid;
  /* allow hyphenation in heads */
  -webkit-hyphens:auto;
  -epub-hyphens:auto;
  -moz-hyphens:auto;
  hyphens:auto; 
}

h1 {
  text-align: center;
  font-size:1.5em;
  margin:1.5em 0em 0em 0em; /* CUSTOM */
  font-weight: bold;
}

h1.fronttitle, h1.chaptertitle, h1.backtitle {
}

.pairedboth {
  margin-top: 0em;
  margin-bottom: 0em;
}

.CN { /* CUSTOM */
  text-align: center;
  font-size:1.40em;
  margin:1.5em 0em 0em 0em;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}

.CN::after { /* CUSTOM */
    content: "";
    display: block;
    margin: 0 auto;
    width: 7%;
    padding-top: 5px;
    border-bottom: 4px solid gray;
}


h1.parttitle {
  font-size:1.75em;
}

h1.SC {
  text-transform: uppercase;
  font-size: 1.25em;
}

h2, h3 {
  text-align:left;
}

h2.sectiontitle, h2.frontsectiontitle, h2.backsectiontitle {
  text-align:left;
  font-size: 1.25em;
  margin:2em 0em 1em 0em;
  font-weight: bold;
}

h2.chaptersubtitle { /* CUSTOM */
  text-align: center;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  color: gray;
  font-size: 1.5em;
  margin:3em 0em 0em 0em;
}

h2.sectionsubtitle { /* CUSTOM */
  font-size: 1.25em;
 margin:2em 2.5em 1em 2.5em;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
}

h2.paired { /* CUSTOM */
  margin-bottom: 0em;
}

h2.notop, h2.pairedtop { /* CUSTOM */
  margin-top: 0em;
}

h2.spaceabove2 { /* CUSTOM */
  margin-top: 2em;
}


h2.sectionsubtitle.teaser {
  text-align: center;
  font-size:1.5em;
  margin:1.5em 0em 1.5em 0em;
  font-weight: bold;
  font-style:normal;
}

h3.sectionsubtitle { /* CUSTOM */
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: gray;
  margin:2em 0em 1em 0em;
  font-family: "Helvetica", sans-serif;
}

/* first letter or line styling */

/* first-letter raised cap */
span.dropcap, p.dropcap::first-letter {
  font-size: 3em;
  line-height: 0 !important;
}


/* first-letter dropped cap */
span.dropcap2, p.dropcap2::first-letter {
  float:left;
  font-size:3.3em;
  font-weight:500;
  line-height:1 !important;
  margin-bottom:-0.27em;
  margin-right:0.07em;
  margin-top:-0.1em;
}

/* first-line styles */
span.firstline, p.firstline::first-line {
  font-variant: small-caps;
  /* font-weight: bold; */
  /* font-family: "[name of embedded font]", sans-serif; */
}

/* General Image Styling */

img {
  width:100%;
  max-height:100%;
  page-break-inside:avoid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.both-space {
  margin-top:.75em;
  margin-bottom:.75em;
}

figure.bottom-space {
  margin-bottom:.75em;
}

figure.top-space {
  margin-top:.75em;
}

span.inline {
  display:inline-block;
  text-indent:0;
  /* width:5em; adjust for your image (comment out if inline images are already sized) */
}

/* Specific Image Sizing */

figure.full {
  width:100%;
  page-break-inside:avoid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

figure.five-sixth {
  width:90%;
  page-break-inside:avoid;
  margin-left: auto;
  margin-right: auto;
}

figure.three-quarter {
  width:75%;
  page-break-inside:avoid;
  margin-left: auto;
  margin-right: auto;
}

figure.two-third {
  width:66%;
  page-break-inside:avoid;
  margin-left: auto;
  margin-right: auto;
}

figure.half {
  width:50%;
  page-break-inside:avoid;
  margin-left: auto;
  margin-right: auto;
}

figure.third {
  width:33%;
  page-break-inside:avoid;
  margin-left: auto;
  margin-right: auto;
}

figure.quarter {
  width:25%;
  page-break-inside:avoid;
  margin-left: auto;
  margin-right: auto;
}

figure.sixth {
  width:15%;
  page-break-inside:avoid;
  margin-left: auto;
  margin-right: auto;
}

figure.tenth {
  width:10%;
  page-break-inside:avoid;
  margin-left: auto;
  margin-right: auto;
}

/* Caption Styling */

p.caption {
  text-align:left; /* CUSTOM */
  font-size:85%;
  font-family: "Helvetica", sans-serif;
}

p.source {
  text-align:left; /* CUSTOM */
  font-size:80%;
  font-style:italic;
  font-family: "Helvetica", sans-serif;
}

/* Paragraph Styles */

p {
  margin:0;
  text-indent:0em;
  text-align:left;
  widows:2; 
  orphans:2;
}

p.left {
  text-align:left;
  text-indent:0em;
}

p.right {
  text-align:right;
}

p.center {
  text-align:center;
  text-indent:0em;
}

p.hang {
  text-indent: -1em;
  margin:0 0 0 1em;
}

p.afterhang {
  text-indent: 1em;
  margin: 0 0 0 1em;
}

p.follow {
  text-indent: 1em;
}

/* for paragraphs after the first in multi-paragraph notes */
p.indentnote {
  text-indent: 0em;
  margin:0 0 0 1em;
}


/* Font Classes */

.sans {
  font-family: Helvetica, sans-serif;
}

.mono {
  font-family: "American Typewriter", Courier, monospace;
}

/* Text Decoration */

.ital {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

/* even smallcaps */
.smallcaps {
  text-transform: uppercase;
  font-size:80%;
}

 /* cap and smallcap */
.smallcaps2 {
  font-variant: small-caps;
}

.allcaps {
  text-transform: uppercase;
}

.strikethrough{
  text-decoration:line-through;
}

b {
  font-weight:bold;
}

/* font sizing */

.large {font-size: 1.25em;}
.larger {font-size: 1.5em;}
.largest {font-size: 1.75em;}

.smallish {font-size: 0.9em;}
.small {font-size: 0.75em;}
.smaller {font-size: 0.5em;}
.smallest {font-size: 0.25em;}

/* Horizontal Rule for Footnotes */

hr.halfwidth {
  width: 50%;
}

/* Object Alignment */

.centerobject {
  margin: 0 auto;
}

/* Text Alignment */

.centertext {
  text-align: center;
}

.lefttext {
  text-align: left;
}

.righttext {
  text-align: right;
}

.fig {
  margin: 1.0em 0 .5em 0;
  text-align:center;
}

/* Extra Space */

.spaceabove1 {
  margin-top: 1em;
}

.spacebelow1 {
  margin-bottom: 1em;
}

.spaceabove2 {
  margin-top: 2em;
}

.spacebelow2 {
  margin-bottom: 2em;
}

.sink {
  margin-top:5.7em;
}

/* Hyphenation */

.nohyphens {
  -webkit-hyphens:none; /* prevent hyphenation */
  -epub-hyphens:none;
  -moz-hyphens:none;
  hyphens:none;
}

/* Lists */

ul.plain {
  list-style-type:none;
}
  
li p.follow {
  text-indent:0;
}

/* prevents left-edge cutoff on Kindle Fire */
ol {
  margin:1em 0 1em 0.5em;
  padding-left:1.9em;
}

ol li {
  text-indent:0;
  padding:0;
  padding-left:0.2em;
  } 

/* Indent Styles */

blockquote {
  margin: 0 5% 0 5%;
}

blockquote.margin {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.indent2 {
  margin-left: 10%;
  margin-right: 10%;
}

.indent3 {
  margin-left: 15%;
  margin-right: 15%;
}

.indent4 {
  margin-left: 20%;
  margin-right: 20%;
}

.epigraph {
  text-indent: 0.0em;
  margin-left: 30%;
  margin-right: 20%;
}

.epigraph2 {
  text-indent: 0.0em;
  margin-left: 20%;
  margin-right: 20%;
}

.signature, .indent5 {
  margin-left:65%;
}

/* Table Styles */

table {
  width: auto; /* don't force 100% width; allow centering */
  margin: 0 auto; /* center table */
  border:none;
  border-collapse:collapse;
}

td {
  vertical-align: top;
  page-break-inside: avoid;
  font-size:0.9em;
  padding: 3px 5px; /* breathing space around each cell */
}

td p {
 text-indent: 0em; /* no paragraph indent, hanging or otherwise */
 margin-left: 0em;
 text-align: left;
  -webkit-hyphens:none;
  -epub-hyphens:none;
  -moz-hyphens:none;
  hyphens:none; 
}

/* Table Style Options */

/* shaded table, table row, or table cell */
/* default is blue; #EEEEEE gray; #E8F1E8 green */
table.shaded, tr.shaded, td.shaded {
  background-color: #F3F9FF;
}

/* alternate row shading */
/* choose either even or odd; #EEEEEE is gray */

/*
tr:nth-child(even) {
background: #EEEEEE;
}
*/

/*
tr:nth-child(odd) {
background: #EEEEEE;
}
*/

/* border on table, table row, or table cell */
table.border, tr.border, td.border {
  border: 1px solid;
}

table.borderbottom, tr.borderbottom, td.borderbottom {
  border-bottom: 1px solid; 
}

table.bordertop, tr.bordertop, td.bordertop {
  border-top: 1px solid; 
}

/* tables and table columns with a particular width */

table.width90, td.width90 {
  width: 90%;
}

table.width75, td.width75 {
  width: 75%;
}

table.width66, td.width66 {
  width: 66%;
}

table.width50, td.width50 {
  width: 50%;
}

table.width33, td.width33 {
  width: 33%;
}

table.width25, td.width25 {
  width: 25%;
}

table.width15, td.width15 {
  width: 15%;
}

/* Table of Contents Styles */

/* for all TOCs */

p.toc {
  margin: 0px;
  padding: 1px 0px; /* space above/below each item */
  -webkit-hyphens:none; /* prevent hyphenation in TOC */
  -epub-hyphens:none;
  -moz-hyphens:none;
  hyphens:none;
}

/* part titles */

p.part {
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-top: 10px;
}

/* subitems */
p.sub {
  font-style: italic;
}

/* left-aligned TOC */
/* sets margins, left-aligns title and TOC, styles hr, adds hanging indents */

div#toc {
  margin-left: 5%;
  margin-right: 5%;
}

div#toc h1 {
  text-align: left;
}

div#toc hr {
  width: 100%;
}

p.toc {
  margin-left: 2em;
  text-indent: -1em;
}

p.part {
  margin-left: 1em;
  text-indent: -1em;
}

/* centered TOC */
/* if using, comment out all left-aligned TOC CSS */
/* centers title, hr, and TOC */

/*
div#toc h1, div#toc p {
  text-align: center;
  text-indent: 0em;
}

div#toc hr {
  width: 50%;
  margin-left: 25%;
}
*/


/* copyright page styles */
.copyright{
  font-size: 85%;
  -webkit-hyphens:none;
  -epub-hyphens:none;
  -moz-hyphens:none;
  hyphens:none;
}

/* Box Styles */

/* main box */
.box, .aside {
  width: 85%;
  margin: 1em auto;
  padding: 1em 2%;
  border: 1px solid black;
  background-color: #EEEEEE; /* default is gray; #F3F9FF blue; #E8F1E8 green */
  page-break-inside: avoid;
  /* night-mode lines */
  -webkit-box-shadow: 0 -1px 0 white, 0 1px 0 white, 1px 0 0 white, -1px 0 0 white;
  box-shadow: 0 -1px 0 white, 0 1px 0 white, 1px 0 0 white, -1px 0 0 white;

  /* border-radius: 5px; */  /* rounded edges */
}

/* box titles */
h4.boxtitle {
  text-align: center;
  font-weight:bold;
  font-size: 1.25em;
  font-style:normal;
  margin: 0em 0em 1em 0em;
}

h4.boxsubtitle, h5.boxsubtitle {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 1.25em;
  margin: 0em 0em 1em 0em;
}

/* float elements */

.floatR {
  width: 50%;
  float: right;
  margin: 0.5em 0% 0em 2%;
  word-wrap:break-word;
}

.floatL {
  width: 50%;
  float: left;
  margin: 0.5em 2% 0em 0%;
  word-wrap:break-word;
}

.floatR20 {
  width: 20%;
  float: right;
  margin: 0.5em 0% 0em 2%;
  word-wrap:break-word;
}

.floatL20 {
  width: 20%;
  float: left;
  margin: 0.5em 2% 0em 0%;
  word-wrap:break-word;
}

.floatR40 {
  width: 40%;
  float: right;
  margin: 0.5em 0% 0em 2%;
  word-wrap:break-word;
}

.floatL40 {
  width: 40%;
  float: left;
  margin: 0.5em 2% 0em 0%;
  word-wrap:break-word;
}

.floatR60 {
  width: 60%;
  float: right;
  margin: 0.5em 0% 0em 2%;
  word-wrap:break-word;
}

.floatL60 {
  width: 60%;
  float: left;
  margin: 0.5em 2% 0em 0%;
  word-wrap:break-word;
}

/* clear floats */
.clear {
  clear: both;
}

/* Index Styles */
p.index-nav {
  text-align:center;
  font-size:1.1em;
  line-height:1.4;
  letter-spacing:2px;
  margin:1.5em 0 0 0;
}

h1.IndexLetter {
  text-align:left;
  color:#565060; /* default is dark gray; #339966 green */
  font-size:2.25em;
  line-height:1.4;
  margin: .4em 0em .2em 0em;
  /*font-family: Athelas, Iowan, Georgia, Palatino, serif; */
  /* font-family: Futura, Helvetica, sans-serif; */
  /* text-shadow: 2px 2px #989898; */ /*gray shadow */
}
p.index-1, p.index-1-omit {
  margin-left:1.5em;
  text-indent:-1.5em;
}

p.index-2 {
  margin-left:3em;
  text-indent:-1.5em;
}

p.index-3 {
  margin-left:5em;
  text-indent:-1.5em;
}

/* Space Breaks */

hr.context {
 border: 0;
 margin: 0;
}

div.timebreak {
}

div.graphicbreak {
	text-align: center;
	font-size: 3em;
	/*add visibility: hidden; and remove font-size if you want it to show up as a space break */
}

hr.graphic {
  /* background: url("../images/graphicbreak.jpg") no-repeat top center; */
  background-size: contain;
  display: block;
  height: 1.25em;
  border: none;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  page-break-inside: avoid;
}

/* Break Classes */

.breakboth {
  page-break-before:always;
  page-break-after:always;
}

.breakafter {
  page-break-after:always;
}

.breakbefore {
  page-break-before:always;
}

/* social media and author buttons */

div.buttonbox {
  text-align: center;
}

div.websitebutton {
  border-radius: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1em;
  color: #3B3B3B;
  background-color: #D3D3D3;
  padding: 10px 15px;
  margin: 5px;
  display: inline-block;
}

a.websitebutton {
  text-decoration: none;
}

/* custom social media */

div.subcontainer {
  display: inline-block;
  width: 8em;
  margin: 0.25em 0.25em 0em 0em;
}

/* fix for Dec 2018 Kindle rendering bug */

div.subcontainer, div.subcontainer span.inline{
  display: inline-block;
  width: 8em;
  margin: 0.25em 0.25em 0em 0em;
}
