.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: CENTER;
    margin: 1em 0 0
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1em
    }
.calibre5 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    margin: 1em 0 0
    }
.calibre7 {
    font-family: Arial, sans-serif
    }
.calibre8 {
    display: block;
    text-align: LEFT;
    margin: 1em 0 0
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    display: block;
    text-align: CENTER;
    margin: 1em 0 0.08in
    }
.calibre11 {
    font-weight: bold
    }
.calibre12 {
    display: block;
    margin: 1em 0 0.08in
    }
.calibre13 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre14 {
    display: list-item
    }
.calibre15 {
    font-style: normal
    }
.calibre16 {
    display: block;
    margin: 0.2in 0 0
    }
.pcalibre:link {
    so-language: zxx
    }
