.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: -36pt;
    margin: 0 0 0 36pt
    }
.calibre_2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.calibre_3 {
    color: #f00
    }
.calibre_4 {
    color: #00f
    }
.calibre_5 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0
    }
.calibre_6 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_7 {
    height: 281px;
    vertical-align: baseline;
    width: 290px
    }
.calibre_8 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_9 {
    color: #936
    }
.calibre_10 {
    display: block;
    text-indent: 0;
    margin: 1pt 0 0 2em
    }
.calibre_11 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2pt 0 0 2em
    }
.calibre_12 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1pt 0 0 2em
    }
.calibre_13 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_14 {
    height: 137px;
    vertical-align: baseline;
    width: 137px
    }
.calibre_15 {
    background-color: #d9d9d9
    }
.calibre_16 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1pt 0 0 2em
    }
.calibre_17 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 2em;
    margin: 0
    }
.calibre_18 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1pt 0 0 2em
    }
.calibre_19 {
    height: 346px;
    vertical-align: baseline;
    width: 217px
    }
.calibre_20 {
    height: 119px;
    vertical-align: baseline;
    width: 121px
    }
.calibre_21 {
    display: block;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_22 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2pt 0 0 2em
    }
.calibre_23 {
    height: 94px;
    vertical-align: baseline;
    width: 114px
    }
.calibre_24 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre_25 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_26 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    margin: 0
    }
.calibre_27 {
    color: gray;
    display: block;
    height: 2px;
    text-indent: 14%;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre3 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre4 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre5 {
    display: table-row;
    vertical-align: middle
    }
.calibre6 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre7 {
    font-size: 0.625em
    }
.calibre8 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre9 {
    font-size: 0.83333em
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
